<div class="container">
<h1>Listing pins</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Lat</th>
    <th>Lng</th>
    <th></th>
  </tr>

<% current_user.pins.each do |pin| %>
  <tr>
    <td><%=link_to raw("<i class='icon-edit'></i>"), edit_pin_path(pin)%> <%= pin.name %> </td>
    <td><%= pin.lat %></td>
    <td><%= pin.lng %></td>
    
    <td><%= link_to 'Show', home_show_path(:lat => pin.lat, :lng => pin.lng, :name => pin.name) %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>


